{% extends 'base.html' %}
{% block content %}
	<h4 class="text-center" style="padding-top:150px">As of {{date}}, Augusta smells like . . .</h4>
	<h1 class="text-center pt-2">{{smell}}</h1>
	<h2 class="text-center pb-2 border-bottom" style="padding-top:150px;margin-left:auto;margin-right:auto;width:50%">Recent Historical Smells</h2>
	<table class="table table-borderless">
		<tbody>
			{% for smell in smell_history %}
			<tr>
				<td class="text-right" style="width:50%">{{smell.smell}}</td>
				<td class="text-muted">{{smell.updated_datetime}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock content %}